/* @import "./normalize.css"; */
html {
    font-size: 12px;
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #ecf0f1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fff;
}
.main-header {
    max-height: 80px;
}
.main-header .header-container {
    display: flex;
    max-width: 960px;
    margin: auto;
    align-items: center;
}

/* logo */
.logo {
    /* display: flex; */
    margin-right: 2rem;
}
.main-header .header-container .logo .logo-PC {
    width: 80px;
    height: auto;
    vertical-align: middle;
}
.main-header .header-container .logo .menu {
    display: none;
    width: 25px;
    height: auto;
    vertical-align: middle;
}


/* nav */
.main-header .header-container .main-nav {
    flex: 1;
}
.main-header .header-container .main-nav .nav-list {
    display: flex;
    height: 100%;
}
.main-header .header-container .main-nav .nav-list .nav-item {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    line-height: 80px;
}
.nav-search {
    flex: 1;
}
.main-header .header-container .main-nav .nav-list .nav-search input{
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 1.1rem;
    color: #666;
    background-color: transparent;
}
.search-form {
    display: flex;
    border: 1px solid hsla(0,0%,59.2%,.2);
    background-color: rgba(227,231,236,.2);
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    padding: .6rem 1rem;
}
.search-icon {
    width: 1.5rem;
    height: auto;
}



/* userInfo */
.main-header .header-container .main-userInfo {
    /* margin-left: auto;
    float: right; */
}
.main-header .header-container .main-userInfo img{
    vertical-align: middle;
}
.main-header .header-container .main-userInfo  .action-list {
    display: flex;
    align-items: center;
}
.main-header .header-container .main-userInfo  .action-list .action-item {
    display: flex;
    align-items: center;
    line-height: 80px;
    padding: 0 0.5rem;
}
.main-header .header-container .main-userInfo  .action-list .action-item .creatRoom {
    height: 100%;
    color: #fff;
    background-color: #007fff;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #007fff;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: .5rem 1.3rem;
    outline: none;
    transition: background-color .3s,color .3s;
    cursor: pointer;
}
.main-header .header-container .main-userInfo  .action-list .action-item .notify {
    width: 3rem;
    max-height: 3rem;
    height: auto;
}
.main-header .header-container .main-userInfo  .action-list .action-item .useraction {
    display: flex;
}
.main-header .header-container .main-userInfo .avatar img {
    width: 3rem;
    max-height: 3rem;
    height: auto;
}


.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
/* main */ 
.main-wrap {
    max-width: 960px;
    min-height: calc(100vh - 100px);
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
}
.content-title {
    width: 100%;
    border-bottom: 1px solid #ecf0f1;
    padding: 10px 0 10px 15px;
}

.room-list {
    /* display: flex;
    flex-wrap: wrap; */
    padding-top: 20px;
}

.room-item {
    width:  33.333333%;
    margin-bottom: 10px;
    padding: 0 15px;
}

.room-info {
    width: 100%;
}

.room-img {
    width: 100%;
}
.room-img img{
    width: 100%;
    height: auto;
}

.room-name {
    text-align: center;
}


@media (max-width: 960px) {
    .main-header .header-container {
        width: 100%;
    }
    .main-wrap {
        width: 100%;
    }
    .room-item {
        width:  50%;
        margin-bottom: 0;
        padding: 0 0.5rem;
    }
    .main-header .header-container .nav-item {
        display: none !important;
    }
    .main-header .header-container .nav-search {
        display: inline-block !important;
    }
    .main-header .header-container .main-userInfo {
        /* margin-left: auto; */
    }
    .main-header .header-container .logo .menu {
        display:  inline-block;
    }
}

@media (max-width: 630px) {
    .creatRoom , .search-icon {
        display: none !important;
    }
    .logo {
        margin-right: 0;
    }
    .nav-search {
        padding: 0 !important;
    }
    .main-header .header-container .main-nav  {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 500px) {
    .logo-PC {
        display: none !important;
    }
    .menu {
        margin-left: 5px;
    }
    .main-wrap {
        margin-top: 0;
    }
    .main-header{
        /* height: 80px;
        display: flex; */
        padding: 10px 0;
    }
    .notify {
        display: none !important;
    }
}