<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/chart.css?version=3">
</head>
<body>
    <div id="cjh">
        <header class="main-header">
            <div class="header-container">
                <a class="logo">
                    <img class="logo-PC" src="./assets/logo.png"/>
                    <img class="menu" src="./assets/menu.png"/>
                </a>
                <nav class="main-nav">
                    <ul class="nav-list">
                        <li class="nav-item">首页</li>
                        <li class="nav-item">话题</li>
                        <li class="nav-item">活动</li>
                        <li class="nav-item nav-search">
                            <form class="search-form">
                                <input placeholder="search"/>
                                <img class="search-icon" src="./assets/search.png"/>
                            </form>
                        </li>
                    </ul>
                </nav>
                <div class="main-userInfo">
                    <ul class="action-list">
                        <li class="action-item"><div class="useraction"><button class="creatRoom">创建房间</button></div></li>
                        <li class="action-item"><a class="useraction"><img class="notify" src="./assets/notification.png" /></a></li>
                        <li class="action-item"><div class="avatar useraction"><img src="./assets/avatar.png" /></div></li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="main-wrap">
            <div class="chat-wrap">
                <div class="roomer-wrap">
                    <header class="title"><h3>当前房间在线人数:</h3><p class="number">100</p></header>
                    <section class="roomer-list-wrap">
                        <ul class="roomer-list">
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                            <li class="roomer-item">
                                <a class="userwrap"><div class="useravatar-wrap"><img class="useravatar" src="./assets/avatar.png"/></div><div class="username">cjh</div></a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="message-wrap">
                    <div class="message-widget"></div>
                    <form class="sendmessage">
                        <div class="sendInput"><input type="text"/></div>
                        <div class="sendButton">
                            <button>发送</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- <footer style="position: absolute;bottom: 0;">1111</footer> -->
    </div>
</body>
<script>
    document.querySelector('.main-wrap').style.height = (window.innerHeight  - 56) + 'px'
    document.querySelector('.main-wrap').style.maxHeight = (window.innerHeight  - 56) + 'px'
    window.addEventListener('resize', () => {
        document.querySelector('.main-wrap').style.height = (window.innerHeight  - 56) + 'px'
        document.querySelector('.main-wrap').style.maxHeight = (window.innerHeight  - 56) + 'px'
    })    
</script>
</html>