<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <header><div id="username"></div><div id="email"></div></header>
    </main>
</body>
<script type="module">
    const username = document.querySelector('#username')
    const email = document.querySelector('#email')
    import getUserInfo from './utils/getUserInfo.js'
    getUserInfo().then(res => {
        console.log(res)
        username.innerHTML = res.username
        email.innerHTML = res.email
    }).catch((reject) => {
        username.innerHTML = ''
        email.innerHTML = ''
        console.log(reject)
    })
</script>
<!-- <script src="fetchCard.js" defer></script>
<script src="card.js" defer></script> -->
</html>