<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="fetchCard.js" defer></script>
    <script src="card.js" defer></script>
</head>
<body>
    <% if (name) { %>
      <h1>hello, <%= name %>!</h1>
    <% } %>
    <button onclick="test()">123</button>
    <main>
    </main>
</body>
<script>
    function test () {
        alert('123')
    }
</script>
</html>